<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <helpfulcore>
      <analytics.index.builder>
        <analyticsIndexBuilder type="Helpfulcore.AnalyticsIndexBuilder.AnalyticsIndexBuilder, Helpfulcore.AnalyticsIndexBuilder" singleInstance="true">
          <param name="analyticsSearchService" ref="helpfulcore/analytics.index.builder/analyticsSearchService" />
          <param name="contactSelector" ref="helpfulcore/analytics.index.builder/contactSelectorProvider" />
          <param name="logger" ref="helpfulcore/analytics.index.builder/logging/loggingService" />
          <param name="batchSize">500</param>
        </analyticsIndexBuilder>
        <analyticsSearchService type="Helpfulcore.AnalyticsIndexBuilder.ContentSearch.AnalyticsSearchService, Helpfulcore.AnalyticsIndexBuilder">
          <param name="analyticsIndexName">sitecore_analytics_index</param>
        </analyticsSearchService>
        <contactSelectorProvider type="Helpfulcore.AnalyticsIndexBuilder.MongoDb.MongoDbContactSelectorProvider, Helpfulcore.AnalyticsIndexBuilder">
          <param name="logger" ref="helpfulcore/analytics.index.builder/logging/loggingService" />
          <Filters hint="list">
            <filter type="Helpfulcore.AnalyticsIndexBuilder.ContactSelection.KnownContactsFilter, Helpfulcore.AnalyticsIndexBuilder" />
          </Filters>
        </contactSelectorProvider>
        <logging>
          <loggingService type="Helpfulcore.Logging.LoggingService, Helpfulcore.Logging" singleInstance="true">
            <param name="provider1" ref="helpfulcore/analytics.index.builder/logging/providers/nlogDebugFileProvider"/>
            <param name="provider2" ref="helpfulcore/analytics.index.builder/logging/providers/indexingQueueLog"/>
          </loggingService>
          <providers>
            <nlogDebugFileProvider type="Helpfulcore.Logging.NLog.NLogLoggingProvider, Helpfulcore.Logging.NLog" filePath="$(dataFolder)/logs/Helpfulcore.AnalyticsIndexBuilder.log.${date:format=yyyyMMdd}.txt" singleInstance="true">
              <param name="filePath">$(filePath)</param>
              <LogLevel>Debug</LogLevel>
            </nlogDebugFileProvider>
            <indexingQueueLog type="Helpfulcore.Logging.ProcessQueueLoggingProvider, Helpfulcore.Logging" singleInstance="true">
              <LogLevel>Info</LogLevel>
            </indexingQueueLog>
          </providers>
        </logging>
      </analytics.index.builder>
    </helpfulcore>
  </sitecore>
</configuration>