<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <helpfulcore>
      <analytics.index.builder>
        <analyticsIndexBuilder type="Helpfulcore.AnalyticsIndexBuilder.AnalyticsIndexBuilder, Helpfulcore.AnalyticsIndexBuilder">
          <param desc="analyticsSearchService" ref="helpfulcore/analytics.index.builder/analyticsSearchService" />
          <param desc="collectionDataProvider" ref="helpfulcore/analytics.index.builder/collectionDataProvider" />
          <param desc="logger" ref="helpfulcore/analytics.index.builder/logging/loggingService" />
          <param desc="batchSize">1000</param>
          <param desc="concurrentThreads">4</param>
        </analyticsIndexBuilder>
        <analyticsSearchService type="Helpfulcore.AnalyticsIndexBuilder.ContentSearch.AnalyticsSearchService, Helpfulcore.AnalyticsIndexBuilder">
          <param desc="logger" ref="helpfulcore/analytics.index.builder/logging/loggingService" />
        </analyticsSearchService>
        <collectionDataProvider type="Helpfulcore.AnalyticsIndexBuilder.MongoDb.MongoCollectionDataProvider, Helpfulcore.AnalyticsIndexBuilder">
          <param desc="analyticsConnectionString">analytics</param>
          <param desc="logger" ref="helpfulcore/analytics.index.builder/logging/loggingService" />
          <param desc="contactFactory" ref="model/entities/contact/factory" />
          <Filters hint="list">
            <filter type="Helpfulcore.AnalyticsIndexBuilder.ContactSelection.KnownContactsFilter, Helpfulcore.AnalyticsIndexBuilder" />
          </Filters>
        </collectionDataProvider>
        <logging>
          <loggingService type="Helpfulcore.Logging.LoggingService, Helpfulcore.Logging" singleInstance="true">
            <param desc="provider1" ref="helpfulcore/analytics.index.builder/logging/providers/nlogDebugFileProvider"/>
          </loggingService>
          <pageLoggingService type="Helpfulcore.Logging.LoggingService, Helpfulcore.Logging" singleInstance="true">
            <param desc="provider1" ref="helpfulcore/analytics.index.builder/logging/providers/nlogDebugFileProvider"/>
            <param desc="provider2" ref="helpfulcore/analytics.index.builder/logging/providers/indexingQueueLog"/>
          </pageLoggingService>
          <providers>
            <nlogDebugFileProvider type="Helpfulcore.Logging.NLog.NLogLoggingProvider, Helpfulcore.Logging.NLog" filePath="$(dataFolder)/logs/Helpfulcore.AnalyticsIndexBuilder.log.${date:format=yyyyMMdd}.txt" singleInstance="true">
              <param desc="filePath">$(filePath)</param>
              <LogLevel>Debug</LogLevel>
            </nlogDebugFileProvider>
            <indexingQueueLog type="Helpfulcore.Logging.ProcessQueueLoggingProvider, Helpfulcore.Logging" singleInstance="true">
              <LogLevel>Info</LogLevel>
            </indexingQueueLog>
          </providers>
        </logging>
      </analytics.index.builder>
    </helpfulcore>
  </sitecore>
</configuration>